*
{
   margin: 0;
   padding: 0;
}

body 
{
   background-color: #e9cb71;
   box-sizing: border-box;
   padding: 0 20px;
   background-image: url('../images/background.webp');
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   background-size: cover;
}

.title
{
   margin: 20px 0;
   text-transform: capitalize;
   font-size: 40px;
   color: white;
}

.container
{
   box-sizing: border-box;
   display: grid;
   gap: 25px;
   grid-template-columns: repeat(5, 1fr);
   width: 100%;
}

.item 
{
   position: relative;
}

.img, article img
{
   border-radius: 20px;
   height: 250px;
   object-fit: cover;
   width: 100%;
   box-sizing: border-box;
   transition: 200ms all;
}

.img:hover, article img:hover, .like:hover .img 
{
   box-shadow: 2px 2px 8px white;
   transform: scale(1.05);
}

.preview
{
   height: 250px;
   object-fit: cover;
   width: 246.2px;
   background-image: url('../images/cat.png');
   background-size: cover;
}

.containerButtonLike
{
   background-color: #d34f4f;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   position: absolute;
   top: 10px;
   right: 10px;
}

.like 
{
   cursor: pointer;
   width: 50px;
   height: 50px;
   background-image: url('../images/heart.png');
   background-size: 1450px 50px;
   position: absolute;
   top: -9px;
   right: -9px;
}

.like.is-liked
{
   animation-name: like;
   animation-duration: .8s;
   animation-timing-function: steps(28);
   animation-fill-mode: forwards;
}

.img-delete
{
   width: 24px;
   height: 24px;
   transform: scale(0.9);
}

.btn-delete
{
   border: none;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   position: absolute;
   right: 10px;
   top: 10px;
   box-shadow: 0px 0px 8px #6a6767;
}

@keyframes like 
{
   0%
   {
      background-position: 0 0;
   }    
   100%
   {
      background-position: right;
   }
}

.buttons
{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 25px 0;
}

.buttons__pagination
{
   box-sizing: border-box;
   background-color: transparent;
   border: 2px solid #2d7dbd;
   border-radius: 0.6em;
   color: white;
   cursor: pointer;
   display: flex;
   align-self: center;
   font-size: 16px;
   line-height: 1;
   margin: 20px;
   padding: 1.2em 2.8em;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
   transition: all 150ms ease-in-out;
}

.buttons__pagination:hover, .buttons__pagination:focus 
{
   background: white;
   border: 2px solid white;
   color: black;
   outline: 0;
}

.up 
{
   background-color: #16609b;
   height: 65px;
   width: 65px;
   border-radius: 50%;
   border: none;
   font-size: 16px;
   position: relative;
   right: -25%;  
}

.up:hover 
{
   background-color: #0383e9;
}

.up a 
{
   text-decoration: none;
   color: white;
   position: absolute;
   height: 65px;
   width: 65px;
   border-radius: 50%;
   right: 0;
   left: 0;
   top: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

input[type="file"] 
{
   color: white;
   font-size: 20px;
   margin-bottom: 30px;
   display: block;
   width: 100%;
}

#uploadingForm
{
   margin: 40px 0 30px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.uploadPhoto
{
   height: 35px;
   padding: 0 15px;
   font-size: 20px;
   margin-left: 50px;
}